{% extends "events/wrapper.html" %}

{% block title %}Подтверждение публикации{% endblock %}

{% block action-search %}{% url 'events:index' %}{% endblock %}

{% block content %}
    <!-- PageBanner -->
    <div class="container-fluid page-banner event-grid event-list no-padding">
        <div class="section-padding"></div>
        <div class="container">
            <div class="banner-content-block">
                <div class="banner-content">
                    <h3>Подтверждение публикации</h3>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'events:index' %}">Главная</a></li>
                        <li><a href="{% url 'account:index' %}">Личный кабинет</a></li>
                        <li class="active">Подтверждение публикации</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="section-padding"></div>
    </div><!-- PageBanner /- -->

    <!-- Event List -->
    <div class="container-fluid eventlist upcoming-event latest-blog no-padding">
        <div class="section-padding"></div>
        <div class="container">
            <div class="section-header">
                <h3>Подтверждение публикации</h3>
                <span>Объявления, комментарии</span>
            </div>

            <div class="row">
                <div class="col-12 content-area">
                    {% for article in articles %}
                        <article class="type-post">
                            <div class="entry-cover">
                                <a href="{% url 'events:show' article.alias %}"><img src="/media/{{ article.main_photo }}" alt="history" width="310" height="246"/></a>
                            </div>
                            <div class="entry-block">
                                <div class="entry-title">
                                    <a href="{% url 'events:show' article.alias %}" title="{{ article.title }}"><h3>{{ article.title }}</h3></a>
                                </div>
                                <div class="entry-meta">
                                    <div class="post-date">
                                        <p>{% if article.price == "Бесплатно" %} {{article.price}} {% else %}от {{ article.price }}руб {% endif %}</p>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <p>
                                        <i class="icon icon-Tag"></i>
                                        {% for category in article.category.all %}
                                            {{ category }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>
                                        <i class="icon icon-User"></i>{% if article.user.is_distribution %}<span title='Проверенный'><i class='fa fa-check'></i></span>{% endif %}{{ article.user.username }}
                                    </p>
                                </div>
                                <a href="{% url 'events:show' article.alias %}" class="learn-more" title="Подробнее">Подробнее</a>
                                <a href="{% url 'account:confirm_method' article.alias 'addEvent' %}" onclick="if(!confirm('Подтвердить публикацию?')) return false;" class="learn-more" title="Принять">Принять</a>
                                <a href="{% url 'account:confirm_method' article.alias 'deleteEvent' %}" onclick="if(!confirm('Отказать в публикации?')) return false;" class="learn-more" title="Отказать">Отказать</a>
                            </div>
                        </article>
                    {% endfor %}

                    {% for event in events %}
                        <article class="type-post">
                            <div class="entry-cover">
                                <a href="{% url 'events:show_event' event.alias %}"><img src="/media/{{ event.main_photo }}" alt="history" width="310" height="246"/></a>
                            </div>
                            <div class="entry-block">
                                <div class="entry-title">
                                    <a href="{% url 'events:show_event' event.alias %}" title="{{ event.title }}"><h3>{{ event.title }}</h3></a>
                                </div>
                                <div class="entry-meta">
                                    <div class="post-date">
                                        <p>{{ event.start_event|date:"M"}}<span>{{ event.start_event|date:"d"}}</span></p>
                                    </div>
                                    <div class="post-metablock">
                                        <div class="post-time">
                                            <span>{% if event.price == "Бесплатно" %} {{event.price}} {% else %}от {{ event.price }}руб {% endif %}</span>
                                        </div>
                                        <div class="post-location">
                                            <span class="icon icon-Pointer"></span>
                                            <span>{{ event.venue.street.district.city.area }}, {{ event.venue.street.district.city.type_city.abbreviation }} {{ event.venue.street.district.city }}, {{ event.venue.street}} {{ event.venue.house }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <p>
                                        <i class="icon icon-Tag"></i>
                                        {% for category in event.category.all %}
                                            {{ category }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>
                                        <i class="icon icon-User"></i>{% if event.user.is_distribution %}<span title='Проверенный'><i class='fa fa-check'></i></span>{% endif %}{{ event.user.username }}
                                    </p>
                                </div>
                                <a href="{% url 'events:show_event' event.alias %}" class="learn-more" title="Подробнее">Подробнее</a>
                                <a href="{% url 'account:confirm_method' event.alias 'addEvent' %}" onclick="if(!confirm('Подтвердить публикацию?')) return false;" class="learn-more" title="Принять">Принять</a>
                                <a href="{% url 'account:confirm_method' event.alias 'deleteEvent' %}" onclick="if(!confirm('Отказать в публикации?')) return false;" class="learn-more" title="Отказать">Отказать</a>
                            </div>
                        </article>
                    {% endfor %}

                    <div class="post-comment">
                        {% for comment in comments %}
                            <div class="media">
                                <div class="media-body">
                                    <div class="media-content">
                                        <h4 class="media-heading">
                                            {{ comment.user.username }}<span>{{ comment.created_at|date:"d M Y" }}</span><a href="{% url 'account:confirm_method' comment.id 'deleteComment' %}" onclick="if(!confirm('Отказать в публикации?')) return false;" class="reply-comment"><i class="fa fa-minus"></i>Отказать</a><a href="{% url 'account:confirm_method' comment.id 'addComment' %}" onclick="if(!confirm('Подтвердить публикацию?')) return false;" class="reply-comment mr-2"><i class="fa fa-plus"></i>Принять</a>{% if comment.event.type_event_id == 1 %}<a href="{% url 'events:show_event' comment.event.alias %}" class="learn-more" title="Подробнее">Подробнее</a>{% else %}<a href="{% url 'events:show' comment.event.alias %}" class="learn-more" title="Подробнее">Подробнее</a>{% endif %}
                                        </h4>
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for comment in comments_news %}
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media-content">
                                            <h4 class="media-heading">
                                                {{ comment.user.username }}<span>{{ comment.created_at|date:"d M Y" }}</span><a href="{% url 'account:confirm_method' comment.id 'deleteCommentN' %}" onclick="if(!confirm('Отказать в публикации?')) return false;" class="reply-comment"><i class="fa fa-minus"></i>Отказать</a><a href="{% url 'account:confirm_method' comment.id 'addCommentN' %}" onclick="if(!confirm('Подтвердить публикацию?')) return false;" class="reply-comment mr-2"><i class="fa fa-plus"></i>Принять</a><a href="{% url 'news:show' comment.news.alias %}" class="learn-more" title="Подробнее">Подробнее</a>
                                            </h4>
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section-padding"></div>
    </div><!-- Event List /- -->
{% endblock %}